
.page-wrap{
    background-color: rgb(246, 247, 243);
    margin: 0 50px;
}
.top-bar{
    height: 25px;
    background-color: rgb(5, 75, 5);
    display: flex;
    justify-content: space-between;   
}
.top-bar-addres{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding-left: 150px;
}
.top-bar-addres2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
}


.top-bar a{
    color: white;
    text-decoration: none;
    text-align: justify;
    margin-right: 30px;
}
.header-navigation{
    display: flex;
    flex-direction: row;
}

.search input{
    width: 53%;
    height: 30px;
    margin: 15px;

}

.link1{
    font-size: 23px;
    vertical-align: middle;
    background-color: green;
    color: white;

}
.header-navigation  div {
    height: 150px;
    margin: 0px 10px;

}
.search img{
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.logo img{
max-width: 100%;
max-height: 100%;
}
.links a{
    color: green;
    text-decoration: none;
}

.links li{
  list-style-type: none;
  margin-bottom: 1px;
}
.basked span , img{
    font-weight: bold;
    font-size: 30px;
}
.basked {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;

}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}
.nav-bar ul{ 
    padding: 5px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
    vertical-align: middle;

}
.links img, .top-bar img{
    margin-right: 3px;
}
.nav-bar li{
    list-style-type: none;

}
.biglinks{
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 45%;
}
.biglinks div{
    margin: 0px;
width: 50%;

}
